
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pseudonymization-fe-primary: mat.define-palette(mat.$indigo-palette);
$pseudonymization-fe-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pseudonymization-fe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pseudonymization-fe-theme: mat.define-light-theme((
  color: (
    primary: $pseudonymization-fe-primary,
    accent: $pseudonymization-fe-accent,
    warn: $pseudonymization-fe-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pseudonymization-fe-theme);

.grecaptcha-badge {
  z-index: 500;
}

.login {
  height: 100px;
  width: 80%;
  font-size: 25px;
  padding: 0px 0px;
  border-width: 10px;
}

.ex-background {
  background-color: lightslategray;
}


.white-background {
  background-color: white;
}

.general-background {
  background-color: ghostwhite;

  //background-color: gray;
}

.general-container {
  margin: 20px;
}

.general-container-for-pages {
  margin: 0px;
}

.parent {
  margin: 25px;
}

.mat-tab{
  font-size: 2em;
}
.mat-tab-label {
  font-size: 2em;
  font-family: inherit;
  color: black;
}

.general-item {
  line-height: 1;
  border-radius: .1em;
  color: white;
  font-family: sans-serif;
  font-size: 1em;
  padding: 3em 1em;
  //  text-transform: uppercase;
  width: 100%;
  //  cursor: pointer;
  margin: 10px 0px 0px 0px;
  z-index: 5;
}

.general-item-about {
  line-height: 1.6;
  letter-spacing: 2px;
  border-radius: .0em;
  color: white;
  font-family: sans-serif;
  font-size: 2em;
  padding: 0em 0em;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

.about-text {
  line-height: 1.6;
  letter-spacing: 2px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}


.font-size-25 {
  font-size: 25px;
}

.font-size-30 {
  font-size: 30px;
}

.black-color {
  color: black;
}

.red-color {
  color: red;
}

.orange-color {
  color: orange;
}

.green-color {
  color: green;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  height: 100%;
  width: 100%;
  font-size: 25px;
}

.general-description {
  font-size: 18px;
  padding: 4px;
  width: 100%;
}

.loading-spinner {
}

.submitButton {
  background: #3f51b5;
  align-self: center;
  color: white;
  width: 100%;
  min-height: 50px;
  height: 50px;
}

.logoutButton {
  background: #3f51b5;
  align-self: center;
  color: white;
  width: 10%;
  height: 50px;
}

.logoutButtonTop {
  border-radius: .0em;
  align-self: center;
  color: white;
  width: 150px;
  height: 45px;
}

.full-table {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-auto {
  cursor: auto;
}

.small-spinner {
  width: 15px;
  height: 15px;
}

.mat-tooltip {
  font-size: 15px !important;
}
