<div class="general-container"
     fxLayout="row wrap"
     fxLayoutAlign="center center">
  <div fxFlex="grow" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayout.sm="row wrap" fxLayout.md="row wrap"
       fxLayoutAlign="center center">
    <div
      fxFlex.xs="grow"
      fxFlex.sm="grow"
      fxFlex.md="grow"
      fxFlex="25"
      fxLayout="column" fxLayoutAlign="center center">
      <button *ngIf="!isAuthenticated" (click)="oktaAuth.login('/main')" routerLink="/" class="login" mat-flat-button
              color="primary">Přihlásit se
      </button>
      <button *ngIf="isAuthenticated" (click)="oktaAuth.logout()" routerLink="/" class="login" mat-flat-button
              color="accent">
        Odhlásit se
      </button>
      <br>
      <span CLASS="black-color font-size-15">Verze aplikace: <strong>1.0</strong></span>
      <span CLASS="black-color font-size-15">Vytvořil: Pavel Novotný</span>
      <a href="mailto: novascomp@gmail.com">novascomp@gmail.com</a>
    </div>
  </div>
</div>
