<div class="general-container"
     fxLayout="column"
     fxLayoutAlign="center center">
  <div class="general-item-about"
       fxFlex="grow"
       fxLayout="row wrap"
       fxLayout.xs="column"
       fxLayout.s="column"
       fxLayoutAlign.xs="start"
       fxLayoutAlign="start start">
    <div fxFlex="40"
         fxLayout="column">
      <img src="/assets/logo_CVUT.jpg" style="width:75%;height:70%;" alt="ČVUT logo">
    </div>
    <div fxFlex="50" fxLayout="column">
      <mat-card class="black-color font-size-30">Pseudonymizace dat pomocí HSM</mat-card>
      <br>
      <p class="black-color about-text">
        Tato aplikace vznikla jako diplomová práce v oboru Otevřená informatika na Fakultě
        elektrotechnické ČVUT v letním semestru B222.
      </p>
      <ul>
        <li class="black-color font-size-25"><a target="_blank"
                                                href="">Odkaz
          na diplomovou práci</a></li>
      </ul>
      <div fxFlex="grow"
           fxLayout.xs="column"
           fxLayout.s="column"
           fxLayout.md="column"
           fxLayout.lt-md="column"
           fxLayoutAlign.xs="start"
           fxLayout="row wrap" fxLayoutAlign.xs="start">
        <div fxFlex="50">
          <p class="black-color about-text">
            Vytvořil:
          </p>
          <p class="black-color about-text">
            <strong>Pavel Novotný</strong>
          </p>
          <p class="font-size-22">
            <a href="mailto: novascomp@gmail.com">
              novascomp@gmail.com</a>
          </p>
          <p class="black-color about-text">
            Vedoucí práce:
          </p>
          <p class="black-color about-text">
            <strong>Ing. Pavel Náplava, Ph.D.</strong>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
